.homePage-section{
    padding: 30px 1rem;
    background-color: #f4f4f4;
    background: conic-gradient(from 180deg at 50% 1%,white, black);
    filter: opacity(1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    
}
.front-left{
    line-height: 1.5;
    padding-top: 20px;
}
.front-left span{
    display: inline-block;
}

.role{
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin: 1rem 0 2.5rem;
    line-height: 0.7;
    animation: fadeIn 2s ease-in-out;
}
.cta{
    margin-top: 3rem;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element, or you can set a specific color */
}
.cta button{
    transition: transform 0.3s ease;
}
.cta button:hover{
    transform: scale(1.1);
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media only screen and (max-width: 768px) {
    .homePage-section{
        background: conic-gradient(from 270deg at 50% 43%,white, black);
    }
    .cta{
        flex-direction: row-reverse;
        max-width: 60%;
    }
    .cta button{
        max-width: 45%;
    }
    .front-left span{
        display: flex;
    }

}
@media only screen and (max-width: 600px) {
    .homePage-section{
        background: conic-gradient(from 270deg at 50% 50%,white, black);
    }
    .role{
        font-size: 1.7rem;
    }
    .front-left{
        line-height: 1.2;
    }
    .cta{
        max-width: 80%;
    }

}
@media only screen and (max-width: 425px) {
    .homePage-section{
    background: conic-gradient(from 270deg at 50% 56%,white, black);
    }
}
@media only screen and (min-width: 768px) {
    .homePage-section{
        background: conic-gradient(from 180deg at 50% 1%,white, black);
    }
    .front-left{
        font-size: 75%;
    }
    .cta{
        max-width: 70%;
    }
    .cta button{
        max-width: 45%;
    }

}
@media (min-width: 992px) {
    .front-left{
        font-size: 100%;
    }
    .cta{
        max-width: 70%;
    }
}