.homePage-section{
    padding: 30px 20px;
    background-color: #f4f4f4;
    background: conic-gradient(from 180deg at 50% 1%,white, black);
    filter: opacity(1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.front-left{
    line-height: 0.7;
    padding-top: 20px;
}

.role{
    font-weight: 800;
    font-size: 2.5rem;
    margin: 1rem 0 2.5rem;
}
.cta{
    margin-top: 3rem;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element, or you can set a specific color */
}

@media (max-width: 768px) {
    .homePage-section{
        background: conic-gradient(from 270deg at 50% 48%,white, black);
    }
    .cta{
        flex-direction: row-reverse;
    }
}